Dockerfile
.dockerignore
.git
.gitignore
.gitattributes
README.md
LICENSE
.npmrc
.prettierrc
.eslintrc.cjs
.eslintignore
.graphqlrc
.editorconfig
.svelte-kit
.vscode
node_modules
build
package
**/.env
pb_data
pb_migrations
coverage