name: ci

on:
  push:
    branches:
      - 'main'
      - 'develop'
    tags:
      - 'v*.*.*'
    paths:
      - 'src/**'
      - 'static/**'
      - '.dockerignore'
      - 'build.sh'
      - 'docker-compose.yml'
      - 'Dockerfile'
      - 'package.json'
      - 'pnpm-lock.yaml'
      - 'postcss.config.cjs'
      - 'run-dev.sh'
      - 'svelte.config.js'
      - 'tailwind.config.cjs'
      - 'tsconfig.json'
      - 'vite.config.cjs'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: goniszewski/grimoire
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
      - name: Read version of package.json
        uses: xile611/read-package-version-action@v2.1
        id: package-version
      - name: Create GitHub Release
        if: github.ref == 'refs/heads/develop'
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ steps.package-version.outputs.version }}-preview.${{ steps.meta.outputs.increment }}
          name: Preview Release ${{ steps.package-version.outputs.version }}-preview.${{ steps.meta.outputs.increment }}
          draft: false
          prerelease: true
          generate_release_notes: true
